@using LibraryManagmentSystem.Web.ViewModels
@model List<ReadAuthorViewModel>




@{
	ViewData["Title"] = "Authors";
}


<div class="container">
    <div class=" my-5 company position-relative">
        <h1 class="pb-4 color  position-relative text-decoration-underline fst-italic text-center">Authors</h1>
    </div>

    <div>
        <a asp-controller="author" asp-action="addAuthor"><button class="btn btn-dark mx-2 fw-bold"> + Add Author</button></a>
    </div>

    <table class="table table-light table-striped text-center mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Books</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach ( var author  in Model)
            {
                <tr>
                    <td>@author.Id</td>
                    <td>@author.FullName</td>
                    <td>
                        @if (author.Books != null && author.Books.Any())
                        {
                            <div class="dropdown">
                                <button class="btn text-light  btn-info btn-sm dropdown-toggle" type="button"
                                        id="booksDropdown-@author.Id" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    View Books (@author.Books.Count)
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="booksDropdown-@author.Id">
                                    @foreach (var book in author.Books)
                                    {
                                        <li><a class="dropdown-item">>@book</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <span class="text-muted">No books available</span>
                        }
                    </td>
                    <td>
                        <a asp-controller="author" asp-action="details" asp-route-id="@author.Id"><button class="btn btn-dark btn-ed mx-2">Details </button></a>
                        <a asp-controller="author" asp-action="edit" asp-route-id="@author.Id"><button class="btn btn-dark  btn-ed mx-2">Edit</button></a>
                        <a asp-controller="author" asp-action="delete" asp-route-id="@author.Id" onclick="return confirm('Delete Student @author.FullName ?!')"><button class="btn btn-danger  btn-ed mx-2">Delete</button></a>
                    </td>

                </tr>
            }

        </tbody>

    </table>

</div>